@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-color: #023E54;
    background: linear-gradient(325deg, #023E54, #10AAC0);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 125%;
}

.wrapper {
    width: 60%;
    max-width: 500px;
    margin: 40px auto 20px;
}

.block {
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: -6px 6px 6px #023E54;
    /*box-shadow: 3px 3px 3px #1b6d6d;*/
    margin-bottom: 20px;
    padding: 30px 20px;
}

h2, h3 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.list ul {
    margin: 0;
    padding: 0;
}
.taskItem {
    list-style: none;
    cursor: default;
}

.removeTaskItem {
    color: #AC3A3A;
    border: 2px solid #cc3a3a;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: .6em;
    height: .6em;
    line-height: .5em;
}
.removeTaskItem:hover {
    background-color: #ffafaf;
}

.formSearch {
    clear: both;
    margin: 0 0 15px 0;
}
.formSearch:last-child {
    margin: 0;
}
.formSearch label {
    padding: 1px 0;
}
.formSearch input {
    width: calc(100% - 80px);
    margin-left: 40px;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    border: 1px solid silver;
    padding-left: 5px;
}

.formInput {
    clear: both;
    margin: 0 0 15px 0;
}

.formInput:last-child {
    margin: 0;
}

.formInput label {
    padding: 1px 0;
}

.formInput input {
    width: calc(100% - 80px);
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    border: 1px solid silver;
    margin-left: 40px;
    padding-left: 5px;
}

.formInput input[type="submit"] {
    background-color: #ccc;
    background: linear-gradient(355deg, #DDD, #AAA);
    margin-top: 10px;
    margin-left: 43px;
    padding-top: 2px;
    padding-bottom: 3px;
    outline: none;
}

.formInput input[type="submit"]:active {
    background: linear-gradient(355deg, #AAA, #DDD);
    padding-top: 3px;
    padding-bottom: 2px;
}

/*.formInput input[type="submit"]:hover {
    background-color: #bbb;
}*/